<!doctype html>

<!--
Based largely on...

pied, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>%%COMPANY%%</title>
  <link rel="stylesheet" href="styles.css" type="text/css" />


  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
  <div id="container">
    <header>
      <div class="width">
        <img src="%%LOGO%%" />
        <h1><a href="/">%%COMPANY%%</a></h1>
      </div>
    </header>
    <nav>
      <div class="width">
        <ul>
          <li class="start selected"><a href="#">Home</a></li>
          <li><a href="#">%%PAGE2%%</a></li>
          <li><a href="#">%%PAGE3%%</a></li>
          <li><a href="#">%%PAGE4%%</a></li>
          <li><a href="#">%%PAGE5%%</a></li>
        </ul>
      </div>
    </nav>

    <div id="body" class="width">
      <section id="content">
        <article>
          %%CONTENT%%
        </article>
      </section>

      <div class="clear"></div>
    </div>
    <footer>
      <div class="footer-bottom">
        <p>&copy; %%COMPANY%% 2014.</p>
      </div>
    </footer>
  </div>
</body>
</html>
